// Colors
$gray: #dddddd;
$button-pill-color: #5b4681;
$light-gray: #f9f9f9;

// Font Size
$base-font-size: 1.4rem;

// Spacing
$space: 1.4rem;
$max-site-width: 50rem;

// Form Input
$input-border: #ddd;

// Boxed view
$boxed-view-overlay-bg: $gray;
$boxed-view-bg: #fff;
$baseLinkColor: #000;

// Header
$header-bg-color: #5b4681;

// Item
$item-bg: $light-gray;
$item-border: darken($item-bg, 8%);
