// Color
$gray: #dddddd;

// Font Size
$base-font-size: 1.6rem;

// Spacing
$space: 1.4rem;

// Form Input
$input-border: #ddd;

// Boxed view
$boxed-view-overlay-bg: $gray;
$boxed-view-bg: #fff;
$baseLinkColor: #000;
