.boxed-view {
  background: #ddd;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.boxed-view__box {
  background: #fff;
  padding: 2.4rem;
  text-align: center;
  width: 24rem;
}
