.item {
  background: $item-bg;
  border: 1px solid $item-border;
  margin-bottom: $space;
  padding: $space;
}

.item__message {
  color: #777;
}

.item__no-link-message {
  color: #777;
  font-style: italic;
  text-align: center;
  margin: 0;
}
